<button class="btn btn-primary" (click)="dialogRef.close()"><i class="fa-regular fa-circle-xmark"></i></button>

<hr>


<p>أنشأت شركة سوفت جو عام 2010 ومنذ ذلك الحين تعد إحدى شركات الرائدة في مجال تطوير البرمجيات وتطبيقات الويب والمواقع
    الإلكترونية، فنحن ننتج حلول تقنية لقطاعات أعمال مختلفة تتميز بواجهة مهنية مرنة وسهلة الاستخدام ولا تكتفي بهذا فقط
    فنحن نقدم أيضا لعملائنا تصميمات فريدة وأنيقة للمواقع الإلكترونية كما توفر لهم خدمات استضافة عالية الكفاءة وتكمن
    مهنية سوفت جو في تقديم نظم تقنية بسيطة وفعالة لعملائنا مما أتاح لنا توسيع نشطاتنا وتحسين جودة منتجاتنا خلال فترة
    زمنية قصيرة، وتخطو سوفت جو في الوقت الحالي نحو إنتاج نظم وتطبيقات الويب التي تعتمد بشكل أساسي على شبكة الإنترنت</p>

<hr>

<div class="d-flex justify-content-between">
    <div><a class="btn btn-primary"  routerLink="/main/home/Contact-Us">تواصـل معانا</a></div>
    <div><a class="btn btn-primary"  routerLink="/main/home/Company-Branches">فروعنـا</a></div>

</div>