<div class="container">

    <div class="d-flex  p-3 rounded shadow-sm" style="background-color: white; justify-content: end;">
        <h1 style="margin: inherit;">مرحبا بك في نظـام المشتريات <i class="fa-solid fa-hand-holding-heart"></i></h1>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5 mb-5">

        <div class="col d-flex align-items-end">
            <div class="col d-flex align-items-start">
                <div class="example-box2" cdkDrag style="background-color: #0d6efd">
                    <div class="Module-Content"     >
                        <a>
                            فاتورة المشتريات
                            <i class="fas fa-money-check-alt"></i>
                        </a>
                    </div>
                    <div class="example-handle2" cdkDragHandle>
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                            </path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>


        <div class="col d-flex align-items-end">
            <div class="col d-flex align-items-start">
                <div class="example-box2" cdkDrag style="background-color: #0d6efd">
                    <div class="Module-Content" routerLink="/main/purchases/Purchase-order">
                        <a>
                            طلب شراء 
                            <i class="fas fa-money-check-alt"></i>
                        </a>
                    </div>
                    <div class="example-handle2" cdkDragHandle>
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                            </path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="col d-flex align-items-end">
            <div class="col d-flex align-items-start">
                <div class="example-box2" cdkDrag style="background-color: #0d6efd">
                    <div class="Module-Content" routerLink="/main/purchases/Purchase-commander">
                        <a>
                            أمر شراء 
                            <i class="fas fa-money-check-alt"></i>
                        </a>
                    </div>
                    <div class="example-handle2" cdkDragHandle>
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                            </path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>


        <div class="col d-flex align-items-end">
            <div class="col d-flex align-items-start">
                <div class="example-box2" cdkDrag style="background-color: #0d6efd">
                    <div class="Module-Content" routerLink="/main/purchases/invoice">
                        <a>
                            فاتوره مشتريات 
                            <i class="fas fa-money-check-alt"></i>
                        </a>
                    </div>
                    <div class="example-handle2" cdkDragHandle>
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                            </path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>