<section class="vh-100" style="direction: ltr;">
  <div class="container-fluid">
    <div class="row" style="background-color: #2c698d;">
      <div class="col-sm-6 d-flex justify-content-center m-auto">

        <div class="form-signin" style="width: 80%;">
          <form [formGroup]="branchForm" (ngSubmit)="onSubmit()">
            <div class="d-flex justify-content-center">
              <img class="mb-4" src="../../../assets/images/logo3.png" alt="" width="130" height="120">
            </div>


            <!-- <p style="color: #2dd3f4;">Select Company</p> -->
            <div class="mt-2">
              <!-- <select *ngIf="!disableBranches" class="form-select" formControlName="DataBaseId"
               aria-label="Default select example" style="height: 50px; color: #2c698d;">
                <option *ngFor="let Company of allCompanies" [value]="Company.dataBaseId">
                  {{Company.dataBaseName}}
                </option>
              </select> -->

              <div *ngIf="!disableBranches" class="col-lg-12 col-md-6 col-sm-12 mt-3">
                <mat-form-field class="ang-maturial-select" appearance="fill" style="width: 100%;">
                  <mat-label style="padding: 10px;">select DataBase</mat-label>
                  <mat-select formControlName="DataBaseId" >
                    <mat-option *ngFor="let Company of allCompanies" [value]="Company.dataBaseId">
                      {{Company.dataBaseName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <button  *ngIf="disableBranches" class="w-100 btn mb-2 btn-lg" type="button"
               style="background-color: white;" fdprocessedid="infldq">
               <img  src="../../../assets/images/loading2.gif" width="50" height="50" />
             </button>

            </div>

            <button  *ngIf="!disableSumbit" class="w-100 btn btn-lg btn-primary " type="submit" [disabled]="branchForm.invalid"
              style="background-color: #19b8e1;" fdprocessedid="infldq">Confirm</button>
              <button  *ngIf="disableSumbit" class="w-100 btn btn-lg  mt-5" type="submit"
               [disabled]="true" style="background-color: white;" fdprocessedid="infldq">
                <img  src="../../../assets/images/loading2.gif" width="50" height="50" />
              </button>



            <p class="mt-5 mb-3" style="color: white; border-top: 1px solid white;"></p>

            <p class="mt-5 mb-3" style="color: white; ">All Works Copyright of Respective Owner, Otherwise ©SoftGo.</p>

            <p class="mt-5 mb-3" style="color: white;"> V.1
            </p>
          </form>
        </div>


      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="../../../assets/images/login.gif" alt="Login image" class="w-100 vh-100"
          style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>