<div class="container-fluid">
    <div style="margin-bottom: 50px;">
        <form [formGroup]="vehicleTypeForm" (ngSubmit)="onSumbit()">
            <div class="example-button-row">
                <div class="example-flex-container">
        
        
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab color="primary" (click)="getLastRowData()" [disabled]="lastRow"
                      aria-label="Example icon button with a menu icon">
                      <i class="fas fa-step-backward"></i>
                    </button>
                  </div>
        
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab color="primary" (click)="getPrevRowData()"
                      [disabled]="DisabledPrevButton" aria-label="Example icon button with a menu icon">
                      <i class="fas fa-caret-left"></i>
                    </button>
                  </div>
        
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab color="primary" (click)="getNextRowData()"
                      [disabled]="DisabledNextButton" aria-label="Example icon button with a menu icon">
                      <i class="fas fa-caret-right"></i>
                    </button>
                  </div>
        
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab (click)="getFirstRowData()" [disabled]="firstRow" color="primary"
                      aria-label="Example icon button with a menu icon">
                      <i class="fas fa-step-forward"></i>
                    </button>
                  </div>
        
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab color="primary"  (click)="GetAllVehicleType()"
                      [disabled]="reloadDisabled" aria-label="Example icon button with a menu icon">
                      <i class="fas fa-sync"></i>
                    </button>
                  </div>
        
                  <div class="example-button-container">
                    <button type="submit" mat-mini-fab color="primary" [disabled]=" SaveDisable || vehicleTypeForm.invalid" 
                      aria-label="Example icon button with a menu icon">
                      <i class="fas fa-save"></i>
                    </button>
                  </div>
        
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab color="warn" [disabled]=" DeleteDisable || vehicleTypeForm.invalid" (click)="Open_delete_confirm()"
                      
                       aria-label="Example icon button with a menu icon">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </div>
        
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab color="primary" (click)="undo()" [disabled]="UndoDisabled"
                      aria-label="Example icon button with a menu icon">
                      <i class="fas fa-undo"></i>
                    </button>
                  </div>
        
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab  [disabled]="UpdateDisable" (click)="updateVehicleType()" color="primary"
                      aria-label="Example icon button with a menu icon">
                      <i class="fas fa-edit"></i>
                    </button>
                  </div>
        
        
                  <div class="example-button-container">
                    <button type="button" (click)="New()" mat-mini-fab color="primary"
                      aria-label="Example icon button with a menu icon">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
        
                </div>
              </div>

            <mat-tab-group dir="rtl" style="background-color: white;font-family: system-ui;">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <h1 style="margin-bottom: auto;">
                            <i class="fa-solid fa-layer-group custom-icon"></i>

                            أنواع المركبات
                        </h1>
                    </ng-template>


                    <div class="row p-3">
                        <mat-form-field appearance="outline" style="display:none" class="col-lg-3 col-md-6 col-sm-12">
                            <mat-label>Id</mat-label>
                            <input matInput type="number"  formControlName="vehicleTypId">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-lg-3 col-md-6 col-sm-12">
                            <mat-label>الكود</mat-label>
                            <input matInput type="text" formControlName="typeCode" [readonly]="EditReadonly" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-lg-3 col-md-6 col-sm-12">
                            <mat-label>الإسم بالعربى</mat-label>
                            <input matInput type="text" formControlName="name1">
                        </mat-form-field>


                        <mat-form-field appearance="outline" class="col-lg-3 col-md-6 col-sm-12">
                            <mat-label>الإسم بالإنجليزى</mat-label>
                            <input matInput type="text" formControlName="name2">
                        </mat-form-field>

                        <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                        </div>

                        <mat-form-field class="col-lg-4 col-md-6 col-sm-12 mt-2" appearance="outline">
                            <mat-label>الملاحظات</mat-label>
                            <textarea matInput formControlName="remark"></textarea>
                        </mat-form-field>



                    </div>

                </mat-tab>

            </mat-tab-group>
        </form>
    </div>

    <mat-card style="margin-bottom: 100px;">
        <mat-card-header class="justify-content-center">
          <mat-form-field style="width: 100%;" appearance="outline" dir="rtl">
            <mat-label style="text-align: right;padding: 3px;"> <i class="fas fa-search"></i> ابحث </mat-label>
            <input matInput  (keyup)="Filterchange($event)"/>
          </mat-form-field>
        </mat-card-header> <mat-card-content>
    
          <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" dir="rtl">
    
            <ng-container matColumnDef="typeCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>الكود</th>
              <td mat-cell *matCellDef="let element"> {{element.typeCode}} </td>
            </ng-container>
    
            <ng-container matColumnDef="name1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>الإسم بالعربى</th>
              <td mat-cell *matCellDef="let element"> {{element.name1}} </td>
            </ng-container>
    
            <ng-container matColumnDef="name2">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>الإسم بالإنجليزى</th>
              <td mat-cell *matCellDef="let element"> {{element.name2}} </td>
            </ng-container>
    
            <ng-container matColumnDef="remark">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ملاحظات</th>
              <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="fillForm(row)"></tr>
          </table>
    
        </mat-card-content>
        <mat-card-footer>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
          </mat-paginator>
        </mat-card-footer>
      </mat-card>
    
</div>