<div class="container-fluid">  
    <div style="margin-bottom: 50px;">
      <form [formGroup]="SysBooksForm"  (ngSubmit)="onSmbit()">
        <div class="example-button-row">
          <div class="example-flex-container">
  
  
            <div class="example-button-container">
              <button type="button" mat-mini-fab color="primary" (click)="getLastRowData()" [disabled]="lastRow"
                aria-label="Example icon button with a menu icon">
                <i class="fas fa-step-backward"></i>
              </button>
            </div>
  
            
  
            <div class="example-button-container">
              <button type="button" mat-mini-fab color="primary" (click)="getNextRowData()"
                [disabled]="DisabledNextButton" aria-label="Example icon button with a menu icon">
                <i class="fas fa-caret-left"></i>
              </button>
            </div>

            <div class="example-button-container">
              <button type="button" mat-mini-fab color="primary" (click)="getPrevRowData()"
                [disabled]="DisabledPrevButton" aria-label="Example icon button with a menu icon">
                <i class="fas fa-caret-right"></i>

              </button>
            </div>
  
            <div class="example-button-container">
              <button type="button" mat-mini-fab (click)="getFirstRowData()" [disabled]="firstRow" color="primary"
                aria-label="Example icon button with a menu icon">
                <i class="fas fa-step-forward"></i>
              </button>
            </div>
  
            <div class="example-button-container">
              <button type="button" mat-mini-fab color="primary"  (click)="GetAllSysBooks()"
                [disabled]="reloadDisabled" aria-label="Example icon button with a menu icon">
                <i class="fas fa-sync"></i>
              </button>
            </div>
  
            <div class="example-button-container">
              <button type="submit" mat-mini-fab color="primary" [disabled]=" SaveDisable || SysBooksForm.invalid" 
                aria-label="Example icon button with a menu icon">
                <i class="fas fa-save"></i>
              </button>
            </div>
  
            <div class="example-button-container">
              <button type="button" mat-mini-fab color="warn" [disabled]=" DeleteDisable || SysBooksForm.invalid" (click)="Open_delete_confirm()"
                
                 aria-label="Example icon button with a menu icon">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
  
            <div class="example-button-container">
              <button type="button" mat-mini-fab color="primary" (click)="undo()" [disabled]="UndoDisabled"
                aria-label="Example icon button with a menu icon">
                <i class="fas fa-undo"></i>
              </button>
            </div>
  
            <div class="example-button-container">
              <button type="button" mat-mini-fab  [disabled]="UpdateDisable" (click)="updateSysBook()" color="primary"
                aria-label="Example icon button with a menu icon">
                <i class="fas fa-edit"></i>
              </button>
            </div>
  
  
            <div class="example-button-container">
              <button type="button" (click)="New()" mat-mini-fab color="primary"
                aria-label="Example icon button with a menu icon">
                <i class="fas fa-plus"></i>
              </button>
            </div>
  
          </div>
        </div>
        <mat-tab-group dir="rtl" style="margin-top: 30px;background-color: white;font-family: system-ui;">
          <mat-tab>
            <ng-template mat-tab-label>
              <h1 style="margin-bottom: auto;">
                <i class="fas fa-file-signature custom-icon"></i>
                دفتر الحركات
              </h1>
            </ng-template>
           

            <div class="row p-3">
              <mat-form-field appearance="outline" style="display: none;" class="col-lg-3 col-md-6 col-sm-12">
                <mat-label>id</mat-label>
                <input matInput type="number"  formControlName="bookId" >
              </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-3 col-md-6 col-sm-12">
                    <mat-label>كود الدفتر</mat-label>
                    <input matInput type="text" formControlName="prefixCode" [readOnly]="EditReadonly" >
                  </mat-form-field>

                  <mat-form-field class="col-lg-3 col-md-6 col-sm-12" appearance="outline">
                    <mat-label> الإسم بالعربى </mat-label>
                    <input matInput type="text" formControlName="bookNameAr" >
                </mat-form-field>

                
                <mat-form-field class="col-lg-3 col-md-6 col-sm-12" appearance="outline">
                    <mat-label> الإسم بالإنجليزى </mat-label>
                    <input matInput  type="text" formControlName="bookNameEn" >
                </mat-form-field>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label>نوع المستند</mat-label>
                        <mat-select formControlName="termType">
                            <mat-option [value]="term.termType" *ngFor="let term of AllTermType">{{term.termTypeNameAr}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label>الفرع</mat-label>
                        <mat-select formControlName="storeId">
                            <mat-option [value]="branch.storeId" *ngFor="let branch of AllBranches" >{{branch.storeDescA}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label>المستخدمين</mat-label>
                        <mat-select formControlName="userId">
                            <mat-option [value]="user.userId" *ngFor="let user of AllUser">{{user.firstName}}</mat-option>
                         </mat-select>
                    </mat-form-field>
                </div>

                 
                <mat-form-field class="col-lg-3 col-md-6 col-sm-12" appearance="outline">
                    <mat-label>الصفحه الحالية</mat-label>
                    <input matInput  type="number" >
                </mat-form-field>

             

                <mat-form-field class="col-lg-3 col-md-6 col-sm-12" appearance="outline">
                    <mat-label>رقم البداية</mat-label>
                    <input matInput  type="number" formControlName="startNum">
                </mat-form-field>

                <mat-form-field class="col-lg-3 col-md-6 col-sm-12" appearance="outline">
                    <mat-label>رقم النهاية</mat-label>
                    <input matInput  type="number" formControlName="endNum" >
                </mat-form-field>

                <div class="col-lg-3 col-md-6 col-sm-12" appearance="outline">
                  <mat-slide-toggle color="primary">غير مرحل</mat-slide-toggle>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12" appearance="outline">
                  <mat-slide-toggle color="primary">مع الحفظ</mat-slide-toggle>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12" appearance="outline">
                  <mat-slide-toggle color="primary"formControlName="autoSerial" >تسلسل تلقائى</mat-slide-toggle>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12" appearance="outline">
                  <mat-slide-toggle color="primary"formControlName="isDefault" >الدفتر الرئيسى</mat-slide-toggle>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12" appearance="outline">
                  <mat-slide-toggle color="primary"formControlName="systemIssuedOnly" >للمستندات المصدره تلقائيا فقط</mat-slide-toggle>
                </div>
            </div>
  
          </mat-tab>
  
        </mat-tab-group>
      </form>
    </div>

    <mat-card style="margin-bottom: 100px;">
      <mat-card-header class="justify-content-center">
        <mat-form-field style="width: 100%;" appearance="outline" dir="rtl">
          <mat-label style="text-align: right;padding: 3px;"> <i class="fas fa-search"></i> ابحث </mat-label>
          <input matInput (keyup)="Filterchange($event)" />
        </mat-form-field>
      </mat-card-header> <mat-card-content>
  
        <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" dir="rtl">
  
          <ng-container matColumnDef="prefixCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>الكود</th>
            <td mat-cell *matCellDef="let element"> {{element.prefixCode}} </td>
          </ng-container>
  
          <ng-container matColumnDef="bookNameAr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>الإسم بالعربى</th>
            <td mat-cell *matCellDef="let element"> {{element.bookNameAr}} </td>
          </ng-container>
  
          <ng-container matColumnDef="bookNameEn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>الإسم بالإنجليزى</th>
            <td mat-cell *matCellDef="let element"> {{element.bookNameEn}} </td>
          </ng-container>
  
          <ng-container matColumnDef="termType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>نوع المستند</th>
            <td mat-cell *matCellDef="let element"> {{element.termType}} </td>
          </ng-container>

          <ng-container matColumnDef="startNum">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم البداية</th>
            <td mat-cell *matCellDef="let element"> {{element.startNum}} </td>
          </ng-container>

          <ng-container matColumnDef="endNum">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم النهاية</th>
            <td mat-cell *matCellDef="let element"> {{element.endNum}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="fillForm(row)" ></tr>
        </table>
  
      </mat-card-content>
      <mat-card-footer>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
      </mat-card-footer>
    </mat-card>
  
  </div>