<!-- <button >Open custom dialog</button> -->

<!-- <button type="button" class="btn btn-primary" style="width: 150px;" >عن الشركة <i class="fa-solid fa-newspaper"></i></button> -->
<div class="col d-flex align-items-start">
    <div class="example-box2" cdkDrag style="background-color: #0d6efd">
        <div class="Module-Content" (click)="openDialog()">
          <a class="cardText-color">
           من نحن
           <i class="far fa-question-circle"></i>
          </a>
        </div>
        <div class="example-handle2" cdkDragHandle>
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
            </path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
      </div>
</div>

