<div class="container-fluid">

    


    <div style="margin-bottom: 150px;">
        <form [formGroup]="HrDepartmentsForm" (ngSubmit)="onSmbit()">

            <div class="example-button-row">
                <div class="example-flex-container">
        
        
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab color="primary" (click)="getLastRowData()" [disabled]="lastRow"
                      aria-label="Example icon button with a menu icon">
                      <i class="fas fa-step-backward"></i>
                    </button>
                  </div>
        
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab color="primary" (click)="getPrevRowData()"
                      [disabled]="DisabledPrevButton" aria-label="Example icon button with a menu icon">
                      <i class="fas fa-caret-left"></i>
                    </button>
                  </div>
        
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab color="primary" (click)="getNextRowData()"
                      [disabled]="DisabledNextButton" aria-label="Example icon button with a menu icon">
                      <i class="fas fa-caret-right"></i>
                    </button>
                  </div>
        
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab (click)="getFirstRowData()" [disabled]="firstRow" color="primary"
                      aria-label="Example icon button with a menu icon">
                      <i class="fas fa-step-forward"></i>
                    </button>
                  </div>
        
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab color="primary"  (click)="getAllHrDepartments()"
                      [disabled]="reloadDisabled" aria-label="Example icon button with a menu icon">
                      <i class="fas fa-sync"></i>
                    </button>
                  </div>
        
                  <div class="example-button-container">
                    <button type="submit" mat-mini-fab color="primary" [disabled]=" SaveDisable || HrDepartmentsForm.invalid" 
                      aria-label="Example icon button with a menu icon">
                      <i class="fas fa-save"></i>
                    </button>
                  </div>
        
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab color="warn" [disabled]=" DeleteDisable || HrDepartmentsForm.invalid" (click)="Open_delete_confirm()"
                      
                       aria-label="Example icon button with a menu icon">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </div>
        
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab color="primary" (click)="undo()" [disabled]="UndoDisabled"
                      aria-label="Example icon button with a menu icon">
                      <i class="fas fa-undo"></i>
                    </button>
                  </div>
        
                  <div class="example-button-container">
                    <button type="button" mat-mini-fab  [disabled]="UpdateDisable" (click)="updateHrDepartment()" color="primary"
                      aria-label="Example icon button with a menu icon">
                      <i class="fas fa-edit"></i>
                    </button>
                  </div>
        
        
                  <div class="example-button-container">
                    <button type="button" (click)="New()" mat-mini-fab color="primary"
                      aria-label="Example icon button with a menu icon">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
        
                </div>
              </div>

            <mat-tab-group dir="rtl" style="background-color: white;font-family: system-ui;">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <h1 style="margin-bottom: auto;">
                            <i class="fa-solid fa-shapes custom-icon"></i>

                            الهيكل الإدارى
                        </h1>
                    </ng-template>

                    <div class="row">
                        <div class="col-3" style="background-color: #f8f8fc;">
                            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" >
                                <!-- This is the tree node template for leaf nodes -->
                                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="handleNodeClick(node)">
                                  <!-- use a disabled button to provide padding for tree leaf -->
                                  <button mat-icon-button disabled><i class="far fa-folder-open" style="font-size: 20px;color: #ecd9a6;"></i></button>
                                  {{node.name}}
                                </mat-tree-node>
                                <!-- This is the tree node template for expandable nodes -->
                                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding (click)="handleNodeClick(node)">
                                  <button type="button" mat-icon-button matTreeNodeToggle
                                          [attr.aria-label]="'Toggle ' + node.name">
                                    <mat-icon class="mat-icon-rtl-mirror">
                                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                    </mat-icon>
                                  </button>
                                  {{node.name}}
                                </mat-tree-node>
                              </mat-tree>
                              
                        </div>
                        <div class="col-9">
                            <div class="row p-3">
                                <mat-form-field appearance="outline" style="display: none;" class="col-lg-4 col-md-6 col-sm-12">
                                    <mat-label>id</mat-label>
                                    <input matInput type="number" formControlName="departMentId">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-sm-12">
                                    <mat-label>الكود</mat-label>
                                    <input matInput type="text" formControlName="departCode" [readonly]="EditReadonly">
                                </mat-form-field>
        
        
                                <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-sm-12">
                                    <mat-label>الإسم بالعربى</mat-label>
                                    <input matInput type="text" formControlName="name">
                                </mat-form-field>
        
                                <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-sm-12">
                                    <mat-label>الإسم بالإنجليزى</mat-label>
                                    <input matInput type="text" formControlName="departName2">
                                </mat-form-field>

                                
                                <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-sm-12">
                                    <mat-label>أختر أدارة رئيسية</mat-label>
                                    <mat-select formControlName="parentId">
                                        <mat-option [value]="depart.departMentId" *ngFor="let depart of AllHrDepartment" 
                                        [style.display]="depart.departMentId === HrDepartmentsForm.get('departMentId')!.value ? 'none' : ''">
                                          {{depart.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
        
                                <div>
                                    
                                </div>
        
                                <mat-form-field class="col-lg-6 col-md-6 col-sm-12 mt-2" appearance="outline">
                                    <mat-label>الوظيفة</mat-label>
                                    <textarea matInput formControlName="departTask"></textarea>
                                </mat-form-field>
        
        
                                <mat-form-field class="col-lg-6 col-md-6 col-sm-12 mt-2" appearance="outline">
                                    <mat-label>الملاحظات</mat-label>
                                    <textarea matInput formControlName="remarks"></textarea>
                                </mat-form-field>
        
                            </div>
                        </div>
                    </div>
                    

                </mat-tab>

            </mat-tab-group>
        </form>
    </div>
</div>