<div class="container-fluid">

    <div class="d-flex p-3 rounded shadow-sm" style="background-color: white; justify-content: end;">
        <h1 style="margin: inherit;">مرحبا بك في نظام الفروع <i class="fa-solid fa-hand-holding-heart"></i></h1>
    </div>
    

    <div class="mt-4 bg-white">
        <!-- <h1 class="custom-border-padding">خيـارات البحث</h1> -->

        <form class="row  p-3" style="direction: rtl;">
            <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                <div class="form-floating">
                    <input type="number" formControlName="Code" class="form-control" placeholder="name@example.com">
                    <label for="floatingInput">الكود </label>
                </div>
            </div>

            <!-- <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                <mat-checkbox color="blue">رئيسى</mat-checkbox>
            </div> -->

            <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="name@example.com">
                    <label for="floatingInput">الإسم</label>
                </div>
            </div>

            
            <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                <mat-form-field class="ang-maturial-select" >
                    <mat-label>المخزن</mat-label>
                    <mat-select>
                      <mat-option value="one">First option</mat-option>
                      <mat-option value="two">Second option</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>

            
            <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="name@example.com">
                    <label for="floatingInput">مسئول الفرع</label>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="name@example.com">
                    <label for="floatingInput">موقع الفرع</label>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                <div class="form-floating">
                    <input type="number" formControlName="Code" class="form-control" placeholder="name@example.com">
                    <label for="floatingInput">التليفون</label>
                </div>
            </div>
          
            <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                <mat-checkbox color="blue">رئيسى</mat-checkbox>
            </div>



            <div class="col-12 mt-3 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" style="width: 200px;" >حفظ</button>
            </div>
        </form>
    </div>
</div>