<div class="container-fluid">

    <div class="d-flex p-3 rounded shadow-sm" style="background-color: white; justify-content: center;">
        <h1 style="margin: inherit;">مستند صرف  <i class="fas fa-file-alt custom-icon"></i> </h1>
    </div>

    <div style="margin-bottom: 50px;">
        <form [formGroup]="PurchaseOrderForm" (ngSubmit)="onSumbit()">
            <div style="display: flex;justify-content: space-between;">
            
                <div class="example-button-row">
                    <div class="example-flex-container">
    
                      <button mat-fab extended color="primary" type="button" 
                        (click)="getLastRowData()" [disabled]="lastRow" style="flex-direction:column;">
                          <span style="margin-right: 10px;margin-left: 10px;">الأخير</span>
                          <mat-icon style="margin-right: 10px;margin-left: 10px;">
                            <i class="fas fa-step-backward"></i>
                          </mat-icon>
                        </button>
        
    
                      <button mat-fab extended color="primary" type="button" 
                       (click)="getNextRowData()" [disabled]="DisabledNextButton" style="flex-direction:column;">
                         <span style="margin-right: 10px;margin-left: 10px;">التالى</span>
                         <mat-icon style="margin-right: 10px;margin-left: 10px;">
                           <i class="fas fa-caret-left"></i>
                         </mat-icon>
                       </button>
    
                      <button mat-fab extended color="primary" type="button" 
                       (click)="getPrevRowData()" [disabled]="DisabledPrevButton" style="flex-direction:column;">
                        <span style="margin-right: 10px;margin-left: 10px;">السابق</span>
                        <mat-icon style="margin-right: 10px;margin-left: 10px;">
                          <i class="fas fa-caret-right"></i>
                        </mat-icon>
                      </button>
            
                      <button mat-fab extended color="primary" type="button" 
                       (click)="getFirstRowData()" [disabled]="firstRow" style="flex-direction:column;">
                         <span style="margin-right: 10px;margin-left: 10px;">الأول</span>
                         <mat-icon style="margin-right: 10px;margin-left: 10px;">
                           <i class="fas fa-step-forward"></i>
                         </mat-icon>
                       </button>
            
                      
    
                      <button mat-fab extended color="primary" type="button" 
                      (click)="GetAllPurchaseOrder()" [disabled]="reloadDisabled" style="flex-direction: column;">
                        <span style="margin-right: 10px;margin-left: 10px;">تهيئه</span>
                        <mat-icon style="margin-right: 10px;margin-left: 10px;">
                          <i class="fas fa-sync"></i>
                        </mat-icon>
                      </button>
    
                      <button mat-fab extended color="primary" type="submit" 
                      [disabled]="PurchaseOrderForm.invalid || SaveDisable" style="flex-direction:column;">
                        <span style="margin-right: 10px;margin-left: 10px;">حفظ</span>
                        <mat-icon style="margin-right: 10px;margin-left: 10px;">
                          <i class="fas fa-save"></i>
                        </mat-icon>
                      </button>
    
                      <button mat-fab extended color="warn" type="button" 
                       (click)="Open_delete_confirm()" [disabled]="PurchaseOrderForm.invalid || DeleteDisable" style="flex-direction: column;">
                        <span style="margin-right: 10px;margin-left: 10px;">حذف</span>
                        <mat-icon style="margin-right: 10px;margin-left: 10px;" >
                          <i class="fas fa-trash-alt"></i>
                        </mat-icon>
                      </button>
            
                      <!-- <div class="example-button-container">
                        <button type="button" mat-mini-fab color="primary" (click)="undo()" [disabled]="UndoDisabled"
                          aria-label="Example icon button with a menu icon">
                          <i class="fas fa-undo"></i>
                        </button>
                      </div> -->
    
                      
                     <button mat-fab extended color="primary" type="button" 
                     (click)="undo()" [disabled]="UndoDisabled" style="flex-direction: column;">
                       <span style="margin-right: 10px;margin-left: 10px;">تراجع</span>
                       <mat-icon style="margin-right: 10px;margin-left: 10px;">
                         <i class="fas fa-undo"></i>
                       </mat-icon>
                     </button>
            
                      <button mat-fab extended color="primary" type="button" 
                      [disabled]="UpdateDisable" (click)="updatePurchaseOrder()" style="flex-direction: column;">
                        <span style="margin-right: 10px;margin-left: 10px;">تعديل</span>
                        <mat-icon style="margin-right: 10px;margin-left: 10px;" >
                          <i class="fas fa-edit"></i>
                        </mat-icon>
                      </button>
            
                      <button mat-fab extended color="primary" type="button" (click)="New()" style="flex-direction:column;">
                        <span style="margin-right: 10px;margin-left: 10px;">جديد</span>
                        <mat-icon style="margin-right: 10px;margin-left: 10px;" >
                          <i class="fas fa-plus"></i>
                        </mat-icon>
                      </button>
            
                    </div>
    
                    
                  </div>


                  <!-- <div class="mt-2" *ngIf="itemForm.value.itemDescA" style="display:flex;">
                    <h1 style="color: #3f51b5;" class="mt-2"> {{itemForm.value.itemDescA}} </h1>
                    <h1 style="color: #3f51b5;" class="mt-2"> - </h1>
                    <h1 style="color: #3f51b5;" class="mt-2"> {{itemForm.value.ItemCode}} </h1>
                    <img height="50" width="50" src="../../../assets/images/arrow.gif">
    
                      </div> -->
            </div>

             

            <mat-tab-group dir="rtl" style="background-color: white;font-family: system-ui; margin-bottom: 100px;">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <h1 style="margin-bottom: auto;">
                            <i class="fas fa-file-alt"></i>

                            مستند صرف
                        </h1>
                    </ng-template>


                    <div class="row p-3">
                       
                        <mat-form-field appearance="outline" class="col-lg-3 col-md-6 col-sm-12">
                            <mat-label>رقم سند الصرف</mat-label>
                            <input matInput type="text"  [readonly]="EditReadonly" >
                        </mat-form-field>

                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>أختر</mat-label>
                                <mat-select >
                                    <mat-option value="1">Pay 1</mat-option>
                                    <mat-option value="1">Pay 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <div class="col-lg-3 col-md-6 col-sm-12  ">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>نوع المستند</mat-label>
                                <mat-select >
                                    <mat-option value="1">مستند 1</mat-option>
                                    <mat-option value="1">مستند 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12 input-mrg-top">
                            <mat-slide-toggle color="primary" >ورقه أفتتاحييه</mat-slide-toggle>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12  select-margin-bottom input-mrg-top">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>الجهه</mat-label>
                                <mat-select >
                                    <mat-option value="1">جهه 1</mat-option>
                                    <mat-option value="1">جهه 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                            <div class="form-floating">
                                <input type="datetime-local"  class="form-control"
                                    [readonly]="true">
                                <label for="floatingInput"> <i class="fas fa-clock"></i> تاريخ التحرير</label>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-6 col-sm-12  select-margin-bottom input-mrg-top">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>نوع الصرف</mat-label>
                                <mat-select >
                                    <mat-option value="1">نوع 1</mat-option>
                                    <mat-option value="1">نوع 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>مرجع</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>


                        <div class="col-lg-3 col-md-6 col-sm-12  select-margin-bottom input-mrg-top">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>مورد</mat-label>
                                <mat-select >
                                    <mat-option value="1">مورد 1</mat-option>
                                    <mat-option value="1">مورد 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        
                        <div class="col-lg-3 col-md-6 col-sm-12  select-margin-bottom input-mrg-top">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>خزينه</mat-label>
                                <mat-select >
                                    <mat-option value="1">عمله 1</mat-option>
                                    <mat-option value="1">عمله 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        
                        <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>العمله</mat-label>
                                <mat-select >
                                    <mat-option value="1">عمله 1</mat-option>
                                    <mat-option value="1">عمله 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top ">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>مبلغ الدفع (عمله)</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>م.التحويل</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>مبلغ الدفع (محلى)</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>مبلغ الصرف (محلى)</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>اللغه</mat-label>
                                <mat-select >
                                    <mat-option value="1">عربي </mat-option>
                                    <mat-option value="1">انجليزى </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>الاجمالى</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                    </div>

                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <h1 style="margin-bottom: auto;">
                            <i class="fa-solid fa-building-user "></i>
                             فئات العملاء
                        </h1>
                    </ng-template>


                    <div class="row p-3">
                       
                        <mat-form-field appearance="outline" class="col-lg-3 col-md-6 col-sm-12">
                            <mat-label>المبلغ</mat-label>
                            <input matInput  >
                        </mat-form-field>

                        <mat-card >
                            <mat-card-header class="justify-content-center">
                              <mat-form-field style="width: 100%;" appearance="outline" dir="rtl">
                                <mat-label style="text-align: right;padding: 3px;"> <i class="fas fa-search"></i> ابحث </mat-label>
                                <input matInput  (keyup)="Filterchange($event)"  />
                              </mat-form-field>
                            </mat-card-header> <mat-card-content>
                        
                              <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" dir="rtl">
                                <ng-container matColumnDef="position">
                                    <th mat-header-cell *matHeaderCellDef>العمله</th>
                                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                  </ng-container>
                                
                                  <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef>الفئه</th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                  </ng-container>
                                
                                  <ng-container matColumnDef="weight">
                                    <th mat-header-cell *matHeaderCellDef>عدد وحدات</th>
                                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                                  </ng-container>
                                
                                  <ng-container matColumnDef="symbol">
                                    <th mat-header-cell *matHeaderCellDef>المبلغ</th>
                                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                  </ng-container>
                                
                        
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="fillForm(row)"></tr>
                              </table>
                        
                            </mat-card-content>
                            <mat-card-footer>
                              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
                              </mat-paginator>
                            </mat-card-footer>
                          </mat-card>

                     
                    </div>

                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <h1 style="margin-bottom: auto;">
                            <i class="fa-solid fa-building-user"></i>
                             مبالغ اخرى
                        </h1>
                    </ng-template>


                    <div class="row p-3">
                       
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>العمله</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>م.التحويل</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                            
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>قيمه 1</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>قيمه 2</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>قيمه 3</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>قيمه 4</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>قيمه 5</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>قيمه 6</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>قيمه 7</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>قيمه 8</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>قيمه 9</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>قيمه 10</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>


                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>الاجمالى</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>
                    



                    </div>

                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <h1 style="margin-bottom: auto;">
                            <i class="fa-solid fa-building-user"></i>
                             الشيك
                        </h1>
                    </ng-template>


                    <div class="row p-3">
                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>كود البنك</mat-label>
                                <mat-select >
                                    <mat-option value="1">عربى</mat-option>
                                    <mat-option value="1">انجليزى</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        
                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>رقم الحساب</mat-label>
                                <mat-select >
                                    <mat-option value="1">عربى</mat-option>
                                    <mat-option value="1">انجليزى</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                         
                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>رقم الشيك</mat-label>
                                <mat-select >
                                    <mat-option value="1">عربى</mat-option>
                                    <mat-option value="1">انجليزى</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                            
                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                            <div class="form-floating">
                                <input type="datetime-local" class="form-control">
                                <label for="floatingInput"> <i class="fas fa-clock"></i> تاريخ الاستحقاق</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                            <div class="form-floating">
                                <input type="datetime-local" class="form-control">
                                <label for="floatingInput"> <i class="fas fa-clock"></i> تاريخ الدفع</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                           <button mat-fab extended color="primary" style="width:100px"  type="button">
                             غير مسدد
                           </button>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12 input-mrg-top">
                            <mat-slide-toggle color="primary"> كمبياله </mat-slide-toggle>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12 input-mrg-top">
                            <mat-slide-toggle color="primary"> مسدد </mat-slide-toggle>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12 input-mrg-top">
                            <mat-slide-toggle color="primary"> مرتد </mat-slide-toggle>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12 input-mrg-top">
                            <mat-slide-toggle color="primary"> نقل تبعيه </mat-slide-toggle>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select input-mrg-top" appearance="outline">
                                <mat-label>رقم الاشعار</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select input-mrg-top" appearance="outline">
                                <mat-label>رقم مرجع الاشعار</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        <hr />

                        <h1>تطوير الشيك</h1>

                        
                         
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>الجهه</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                           
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>المصدر</mat-label>
                                <input matInput type="number" >
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                            <button mat-fab extended color="primary" style="width: 100px;" type="button">
                              الغاء التظهير
                            </button>
                         </div>

                         <div class="col-lg-3 col-md-6 col-sm-12 ">
                            <button mat-fab extended color="primary" style="width:100px"  type="button">
                              م.قبض
                            </button>
                         </div>


                    </div>

                </mat-tab>


                <mat-tab>
                    <ng-template mat-tab-label>
                        <h1 style="margin-bottom: auto;">
                            <i class="fa-solid fa-building-user"></i>
                             معلومات اضافيه
                        </h1>
                    </ng-template>


                    <div class="row p-3">
                       
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>حقل أضافى 1</mat-label>
                                <input matInput >
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="ang-maturial-select" appearance="outline">
                                <mat-label>حقل أضافى 2</mat-label>
                                <input matInput >
                            </mat-form-field>
                        </div>

                        <div></div>


                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>ملاحظات</mat-label>
                                <textarea matInput></textarea>
                              </mat-form-field>
                        </div>
                    



                    </div>

                </mat-tab>
            </mat-tab-group>
        </form>
    </div>

</div>