
<form [formGroup]="itemCollectionForm" (ngSubmit)="onSumbit()">
    <mat-tab-group     dir="rtl" backgroundColor="primary" >
        <mat-tab>
            <ng-template mat-tab-label>
                <h1 style="margin-bottom: auto;">
                    <i class="fas fa-edit"></i>
                    {{data.Title}}
                </h1>
            </ng-template>

            <mat-dialog-content class="mat-typography">
                <div class="row p-3">
    
                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" style="display: none;" appearance="outline" >
                        <mat-label>id</mat-label>
                        <input matInput type="number" formControlName="itemCardId" >
                    </mat-form-field>

                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>كود الصنف </mat-label>
                        <input matInput type="text" formControlName="itemCode" [readonly]="true">
                    </mat-form-field>
    
                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>الباركود</mat-label>
                        <input matInput type="text" formControlName="barCode" >
                    </mat-form-field>
    
                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline">
                        <mat-label>الإسم بالعربى</mat-label>
                        <input matInput type="text" formControlName="itemDescA" [readonly]="true">
                    </mat-form-field>
    
                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>الإسم بالانجليزى</mat-label>
                        <input matInput type="text" formControlName="itemDescE" [readonly]="true" >
                    </mat-form-field>

                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>رقم الشحنه</mat-label>
                        <input matInput type="text" >
                    </mat-form-field>

                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label> الكمية </mat-label>
                        <input matInput type="number" min="0" step="1" formControlName="quantity"  >
                    </mat-form-field>
    
                    <div class="col-lg-6 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                        <mat-form-field class="ang-maturial-select" appearance="outline" style="width: 100%;" >
                            <mat-label>الوحده</mat-label>
                            <mat-select formControlName="unitId" (selectionChange)="onUnitChange($event)">
                                <mat-option *ngFor="let itemunit of itemUnits" [value]="itemunit.unitId">
                                    {{itemunit.unitNam}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                        <mat-form-field class="ang-maturial-select" appearance="outline" style="width: 100%;" >
                            <mat-label>الفرع</mat-label>
                            <mat-select formControlName="storeId" >
                                <mat-option *ngFor="let store of AllStores" [value]="store.storeId">
                                    {{store.storeCode}} - {{store.storeDescA}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    
                    <div class="col-lg-6 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                        <mat-form-field class="ang-maturial-select" appearance="outline" style="width: 100%;" >
                            <mat-label>المخزن</mat-label>
                            <mat-select formControlName="storePartId">
                                <mat-option *ngFor="let part of AllPartitions" [value]="part.storePartId">
                                    {{part.partCode}} - {{part.partDescA}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                 

                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>الكمية المنفذه</mat-label>
                        <input matInput type="number" min="0" step="1" >
                    </mat-form-field>

                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>السعر</mat-label>
                        <input matInput type="number" min="0" step="1" formControlName="price">
                    </mat-form-field>

                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>خصم</mat-label>
                        <input matInput type="number" min="0" step="1" >
                    </mat-form-field>

                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>خصم قيمه</mat-label>
                        <input matInput type="number" min="0" step="1" >
                    </mat-form-field>

                    <!-- <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>اجمالى</mat-label>
                        <input matInput type="number" min="0" step="1" formControlName="total" >
                    </mat-form-field> -->

                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>خ.المستند</mat-label>
                        <input matInput type="number" min="0" step="1" >
                    </mat-form-field>

                    
                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>خ.المستند</mat-label>
                        <input matInput type="number" min="0" step="1" >
                    </mat-form-field>

                 

                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>%1 ضريبه</mat-label>
                        <input matInput type="number" min="0" step="1" >
                    </mat-form-field>

                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>ضريبه 1 قيمه</mat-label>
                        <input matInput type="number" min="0" step="1" >
                    </mat-form-field>

                    
                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>%2 ضريبه</mat-label>
                        <input matInput type="number" min="0" step="1" >
                    </mat-form-field>

                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>ضريبه 2 قيمه</mat-label>
                        <input matInput type="number" min="0" step="1" >
                    </mat-form-field>

                    
                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>صافى بعد</mat-label>
                        <input matInput type="number" min="0" step="1" >
                    </mat-form-field>

                      
                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label> ملاحظات</mat-label>
                        <input matInput type="text" formControlName="remarks">
                    </mat-form-field>

                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>2 ملاحظات</mat-label>
                        <input matInput type="text"  formControlName="remarks2">
                    </mat-form-field>

                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" >
                        <mat-label>3 ملاحظات</mat-label>
                        <input matInput type="text" formControlName="remarks3" >
                    </mat-form-field>
 
                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" style="display: none;" >
                        <mat-label>معدل الوحده</mat-label>
                        <input matInput type="number" formControlName="unitRate"  [readonly]="true">
                    </mat-form-field>

                    <mat-form-field  class="col-lg-6 col-md-6 col-sm-12" appearance="outline" style="display: none;" >
                        <mat-label>unitNam</mat-label>
                        <input matInput type="text" formControlName="unitNam"  >
                    </mat-form-field>



                </div>
            </mat-dialog-content>
         

        </mat-tab>

    </mat-tab-group>

    <div mat-dialog-actions>
        <a (click)="cansel()" mat-raised-button color="warn">إغلاق</a>

        <button mat-raised-button type="submit" color="primary" [disabled]="itemCollectionForm.invalid" >حفظ</button>

    </div>
</form>

