<div class="container">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="fas fa-mobile-alt"></i>
            </div>
            <div>
                <h3 class="fs-2">+20 101 737 7230</h3>

            </div>
        </div>

        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="fas fa-mobile-alt"></i>
            </div>
            <div>
                <h3 class="fs-2">+20 101 332 92611</h3>

            </div>
        </div>

        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="fas fa-tty"></i>
            </div>
            <div>
                <h3 class="fs-2">+2(02)33803121</h3>

            </div>
        </div>

        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="fas fa-fax"></i>
            </div>
            <div>
                <h3 class="fs-2">+2(02)33803121</h3>

            </div>
        </div>

        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="fas fa-envelope"></i>
            </div>
            <div>
                <h3 class="fs-2">info@softgoegypt.com</h3>

            </div>
        </div>
        <div class="col d-flex align-items-start">
          
        </div>
        <div class="col-lg-12 d-flex align-items-start">
            <div
                class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <div>
                <h6 class="fs-2">322 A , EL-THARWA EL MAADANYA ST , HADAYEK EL AHRAM , GIZA , EGYPT</h6>

            </div>
        </div>
    </div>
</div>