<div class="container-fluid">




  <div style="margin-bottom: 50px;">
    <form [formGroup]="itemCategoryForm" (ngSubmit)="onSumbit()">

      <div class="example-button-row">
        <div class="example-flex-container">


          <div class="example-button-container">
            <button type="button" mat-mini-fab color="primary" (click)="getLastRowData()"  [disabled]="lastRow" aria-label="Example icon button with a menu icon">
              <i class="fas fa-step-backward"></i>
            </button>
          </div>

          <div class="example-button-container">
            <button type="button" mat-mini-fab color="primary"  (click)="getPrevRowData()"  [disabled]="DisabledPrevButton" aria-label="Example icon button with a menu icon">
              <i class="fas fa-caret-left"></i>
            </button>
          </div>

          <div class="example-button-container">
            <button type="button" mat-mini-fab color="primary" (click)="getNextRowData()" [disabled]="DisabledNextButton" aria-label="Example icon button with a menu icon">
              <i class="fas fa-caret-right"></i>
            </button>
          </div>

          <div class="example-button-container">
            <button type="button" mat-mini-fab (click)="getFirstRowData()" [disabled]="firstRow" color="primary" aria-label="Example icon button with a menu icon">
              <i class="fas fa-step-forward"></i>
            </button>
          </div>

          <div class="example-button-container">
            <button type="button" mat-mini-fab color="primary" (click)="getAllItemCategory()" [disabled]="reloadDisabled"  aria-label="Example icon button with a menu icon">
              <i class="fas fa-redo-alt"></i>
            </button>
          </div>
        
          <div class="example-button-container">
            <button type="submit" mat-mini-fab color="primary" [disabled]=" SaveDisable || itemCategoryForm.invalid" aria-label="Example icon button with a menu icon">
              <i class="fas fa-save"></i>
            </button>
          </div>

          <div class="example-button-container">
            <button type="button" mat-mini-fab color="warn" (click)="Open_delete_confirm()" [disabled]="DeleteDisable || itemCategoryForm.invalid" aria-label="Example icon button with a menu icon">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>

          <div class="example-button-container" >
            <button type="button" mat-mini-fab (click)="updateItemCategory()" [disabled]="UpdateDisable" color="primary" aria-label="Example icon button with a menu icon">
              <i class="fas fa-edit"></i>
            </button>
          </div>


          <div class="example-button-container">
            <button type="button" (click)="New()" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
              <i class="fas fa-plus"></i>
            </button>
          </div>

        </div>
      </div>


      <mat-tab-group dir="rtl" style="margin-top: 30px;background-color: white;font-family: system-ui;">
        <mat-tab>
          <ng-template mat-tab-label>
            <h1 style="margin-bottom: auto;">
              <i class="fas fa-project-diagram"></i>

              فئات الإصناف
            </h1>
          </ng-template>


          <div class="row p-3">
            <mat-form-field appearance="outline" style="display: none;" class="col-lg-3 col-md-6 col-sm-12">
              <mat-label>id</mat-label>
              <input matInput type="number" formControlName="itemCategoryId">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-lg-3 col-md-6 col-sm-12">
              <mat-label>الكود</mat-label>
              <input matInput type="text"  formControlName="itemCatCode" [readonly]="EditReadonly">
            </mat-form-field>

            <mat-form-field class="col-lg-3 col-md-6 col-sm-12" appearance="outline">
              <mat-label> الإسم بالعربى </mat-label>
              <input matInput type="text" formControlName="itemCatDescA">
            </mat-form-field>


            <mat-form-field class="col-lg-3 col-md-6 col-sm-12" appearance="outline">
              <mat-label> الإسم بالإنجليزى </mat-label>
              <input matInput type="text" formControlName="itemCatDescE">
            </mat-form-field>


            <mat-form-field appearance="outline" class="col-lg-3 col-md-6 col-sm-12">
              <mat-label>النوع الرئيسى</mat-label>
              <mat-select formControlName="parentItemCategoryId" >
                <mat-option [value]="ItemCat.itemCategoryId" *ngFor="let ItemCat of ItemCategorySelect" 
                [style.display]="ItemCat.itemCategoryId === itemCategoryForm.get('itemCategoryId')!.value ? 'none' : ''">
                  {{ItemCat.itemCatDescA}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <mat-form-field appearance="outline" class="col-lg-3 col-md-6 col-sm-12">
              <mat-label>نوع المستوى</mat-label>
              <mat-select formControlName="itemCategoryType">
                <mat-option [value]="1">رئيسى</mat-option>
                <mat-option [value]="2">فرعى</mat-option>
              </mat-select>
            </mat-form-field>


           

            <div class="col-lg-3 col-md-6 col-sm-12 mt-2" appearance="outline">
              <input class="form-control" formControlName="imagePath" id="formFileLg" type="file" accept=".png, .jpg , .jpeg">

            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 mt-2" appearance="outline">

            </div>

            <mat-form-field class="col-lg-4 col-md-6 col-sm-12 mt-2" appearance="outline">
              <mat-label>ملاحظات</mat-label>
              <textarea matInput formControlName="remarks"></textarea>
            </mat-form-field>


          </div>

        </mat-tab>

      </mat-tab-group>
    </form>
  </div>

  <mat-card style="margin-bottom: 100px;">
    <mat-card-header class="justify-content-center">
      <mat-form-field style="width: 100%;" appearance="outline" dir="rtl">
        <mat-label style="text-align: right;padding: 3px;"> <i class="fas fa-search"></i> ابحث </mat-label>
        <input matInput  (keyup)="Filterchange($event)" />
      </mat-form-field>
    </mat-card-header> <mat-card-content>

      <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" dir="rtl">

        <ng-container matColumnDef="itemCategoryId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="display: none;"> Id </th>
          <td mat-cell *matCellDef="let element" style="display: none;"> {{element.itemCategoryId}} </td>
        </ng-container>

        <ng-container matColumnDef="itemCatCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> الكود </th>
          <td mat-cell *matCellDef="let element"> {{element.itemCatCode}} </td>
        </ng-container>

        <ng-container matColumnDef="itemCatDescA">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> الإسم بالعربى </th>
          <td mat-cell *matCellDef="let element"> {{element.itemCatDescA}} </td>
        </ng-container>

        <ng-container matColumnDef="itemCatDescE">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> الإسم بالإنجليزى </th>
          <td mat-cell *matCellDef="let element"> {{element.itemCatDescE}} </td>
        </ng-container>


        <ng-container matColumnDef="parentItemCategoryId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="display: none;"> النوع الرئيسى </th>
          <td mat-cell *matCellDef="let element" style="display: none;"> {{element.parentItemCategoryId}} </td>
        </ng-container>

        <ng-container matColumnDef="Name_parentItemCategoryId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> النوع الرئيسى </th>
          <!-- <td mat-cell *matCellDef="let element"> {{element.name_ParentItemCategoryId}} </td> -->
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.name_ParentItemCategoryId; else noData">
              {{ element.name_ParentItemCategoryId }}
            </ng-container>
            <ng-template #noData>
              لايوجد
            </ng-template>
          </td>


        </ng-container>
        <ng-container matColumnDef="itemCategoryType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> نوع المستوى </th>
          <td mat-cell *matCellDef="let element">
            {{ element.itemCategoryType === 1 ? 'رئيسى' : element.itemCategoryType === 2 ? 'فرعى' :
            element.itemCategoryType }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="fillForm(row)"></tr>
      </table>

    </mat-card-content>
    <mat-card-footer>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </mat-card-footer>
  </mat-card>

</div>