<div class="container-fluid">

    <div class="example-button-row">
      <div class="example-flex-container">
  
  
        <div class="example-button-container">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <i class="fas fa-step-backward"></i>
          </button>
        </div>
  
        <div class="example-button-container">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <i class="fas fa-caret-left"></i>
          </button>
        </div>
  
        <div class="example-button-container">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <i class="fas fa-caret-right"></i>
          </button>
        </div>
  
        <div class="example-button-container">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <i class="fas fa-step-forward"></i>
          </button>
        </div>
  
        <div class="example-button-container">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <i class="fas fa-save"></i>
          </button>
        </div>
  
  
        <div class="example-button-container">
          <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
  
        <div class="example-button-container">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <i class="fas fa-plus"></i>
          </button>
        </div>
  
      </div>
    </div>
  
  
    <div>
      <form>
        <mat-tab-group dir="rtl" style="margin-top: 30px;background-color: white;font-family: system-ui;">
          <mat-tab>
            <ng-template mat-tab-label>
                <i class="fab fa-unity"></i>
                بيانات اساسية
            </ng-template>
           
            <div class="row p-3">

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top" style="display: none;">
                    <div class="form-floating">
                        <input type="number"  class="form-control"
                            placeholder="name@example.com">
                        <label for="floatingInput">الكود </label>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                  
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label> الكود  </mat-label>
                        <input matInput  type="number" >
                    </mat-form-field>

                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label>نوع العميل</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label>مركز التكلفة</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label>مندوب</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                  
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label> الإسم بالعربى </mat-label>
                        <input matInput type="text" >
                    </mat-form-field>

                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                   
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label> الإسم بالإنجليزى </mat-label>
                        <input matInput  type="text" >
                    </mat-form-field>

                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label>حساب </mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label>الفئة</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label>العملة</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top select-margin-bottom">
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label>المحافظة</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
    
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label> الجنسية  </mat-label>
                        <input matInput  type="text" >
                    </mat-form-field>

                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                    <div class="form-floating">
                        <input type="date" class="form-control" placeholder="name@example.com">
                        <label for="floatingInput">فتره الإئتمان</label>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">

                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label> حدود العاملات الأجلة  </mat-label>
                        <input matInput  type="text" >
                    </mat-form-field>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                    <div class="form-floating">
                        <input type="number" class="form-control" placeholder="name@example.com">
                        <label for="floatingInput">تليفون 1</label>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                    <div class="form-floating">
                        <input type="number" class="form-control" placeholder="name@example.com">
                        <label for="floatingInput">تليفون 2</label>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                    <div class="form-floating">
                        <input type="number" class="form-control" placeholder="name@example.com">
                        <label for="floatingInput">تليفون 3</label>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                    <div class="form-floating">
                        <input type="number" class="form-control" placeholder="name@example.com">
                        <label for="floatingInput">فاكس</label>
                    </div>
                </div>

                
                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="name@example.com">
                        <label for="floatingInput">عنوان 1</label>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 input-mrg-top">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="name@example.com">
                        <label for="floatingInput">عنوان 2</label>
                    </div>
                </div>
            </div>
            
          </mat-tab>
  
          <mat-tab>
            <ng-template mat-tab-label>
                <i class="fas fa-plus-circle custom-icon"></i>
                الأرصدة
            </ng-template>

            <div class="row p-3">
                
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label>الرصيد افتتاحى</mat-label>
                        <input matInput type="number" >
                    </mat-form-field>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label>الحركة الحالية</mat-label>
                        <input matInput type="number" >
                    </mat-form-field>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label>الإجمالى</mat-label>
                        <input matInput type="number" >
                    </mat-form-field>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label>الأرصده</mat-label>
                        <input matInput type="number" >
                    </mat-form-field>
                </div>

            </div>

        </mat-tab>


        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fas fa-plus-circle custom-icon"></i>
                بيانات اضافية
            </ng-template>

            <div class="row p-3">
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <mat-form-field class="ang-maturial-select" appearance="outline">
                        <mat-label>الرصيد افتتاحى</mat-label>
                        <input matInput type="number" >
                    </mat-form-field>
                </div>

            </div>

        </mat-tab>
        </mat-tab-group>
      </form>
    </div>
  </div>