<div class="container">

    <div class="d-flex  p-3 rounded shadow-sm" style="background-color: white; justify-content: end;">
      <!-- <button type="button" class="btn btn-light">معلومات <i class="fa fa-info-circle" aria-hidden="true"></i>
          </button> -->
  
      <h1 style="margin: inherit;">مرحبا بك في نظـام الحسابات <i class="fa-solid fa-hand-holding-heart"></i></h1>
      <!-- <app-dialog></app-dialog> -->
    </div>
  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5 mb-5">
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #0d6efd">
            <div class="Module-Content" routerLink="/main/definition/item-units">
              <a>
                دليل الحسابات
                <i class="fab fa-unity"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #0d6efd">
            <div class="Module-Content" routerLink="/main/accountsModule/SysAnalyticalCode">
              <a>
                أكواد تحليلية
                <i class="fas fa-chart-pie"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #0d6efd">
            <div class="Module-Content" routerLink="/main/accountsModule/CalCostCenter">
              <a>
                مركز التكلفة
                <i class="fas fa-hand-holding-usd"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #0d6efd">
            <div class="Module-Content" routerLink="/main/accountsModule/accounts-guide">
              <a>
                دليل الحسابات
                <i class="fas fa-file-invoice-dollar"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
  
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/definition/movement-book">
              <a>
                دفتر الحركـات
                <i class="fas fa-file-signature"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/definition/customer-categories">
              <a>
                فئات العمـلاء
                <i class="fas fa-user-tag"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/definition/customer-types">
              <a>
                أنواع العمـلاء
                <i class="fas fa-user-edit"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/definition/customers">
              <a>
                العمـلاء
                <i class="fas fa-users"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/definition/suppliers-types">
              <a>
                أنواع الموردين
                <i class="far fa-address-card"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #000000">
            <div class="Module-Content" routerLink="/main/definition/suppliers">
              <a>
                الموردين
                <i class="fas fa-users"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #000000">
            <div class="Module-Content" routerLink="/main/definition/employees">
              <a>
                الموظفيـن
                <i class="fas fa-users"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/definition/jobs">
              <a>
                الوظائف
                <i class="fas fa-info-circle"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/definition/Vehicle-shapes">
              <a>
                إشكال المركبـات
                <i class="fa-solid fa-vector-square"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/definition/Types-of-vehicles">
              <a>
                أنواع المركبات
                <i class="fa-solid fa-layer-group"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/definition/cities">
              <a>
                المـدن
                <i class="fa-solid fa-building-user"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/definition/structure-administrative">
              <a>
                الهيكل الإدارى
                <i class="fa-solid fa-shapes"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" style="font-size: 27px;" routerLink="/main/definition/machines-equipment">
              <a>
                الماكينات والمعدات
                <i class="fa-solid fa-gear"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
  
    </div>
  </div>