<div class="container">

    <div class="d-flex  p-3 rounded shadow-sm" style="background-color: white; justify-content: end;">
      <!-- <button type="button" class="btn btn-light">معلومات <i class="fa fa-info-circle" aria-hidden="true"></i>
          </button> -->
  
      <h1 style="margin: inherit;">مرحبا بك في نظام المشتريات <i class="fa-solid fa-hand-holding-heart"></i></h1>
      <!-- <app-dialog></app-dialog> -->
    </div>
  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5 mb-5">
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/home/definition">
              <a>
                خصائص الإصناف
                <i class="fab fa-unity"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/home/definition">
              <a>
                فئـات الإصناف
                <i class="fas fa-sitemap"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/home/definition">
              <a>
                الإصناف
                <i class="fa-solid fa-layer-group"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/home/definition">
              <a>
                الفروع
                <i class="fas fa-sitemap"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
  
  


      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/home/definition">
              <a>
                تحويل مخازن
                <i class="fas fa-file-signature"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/home/definition" style="font-size: 27px;">
              <a>
                طلب تحويل مخازن
                <i class="fa-regular fa-file-lines"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/home/definition" >
              <a >
                طباعه باركود
                <i class="fa-solid fa-print"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/home/definition">
              <a>
                وحدات الإصناف
                <i class="fa-solid fa-layer-group"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>


  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/home/definition" >
              <a>
                أصناف ذات خصائص
                <i class="fa-solid fa-layer-group"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/home/definition">
              <a>
                جرد الإصناف
                <i class="fa-solid fa-file-pen"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/home/definition">
              <a>
                مستند توريد مخزنى
                <i class="fa-solid fa-file-import"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/home/definition">
              <a>
                مستند صرف مخزنى
                <i class="fa-solid fa-file-export"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/home/definition">
              <a>
                تسعيرة الإصناف
                <i class="fa-solid fa-money-check-dollar"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/home/definition">
              <a>
                تسعير الإصناف
                <i class="fa-solid fa-money-check-dollar"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/home/definition">
              <a>
                تغيير أكواد الإصناف
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" routerLink="/main/home/definition">
              <a>
                ظبط تكاليف و كميات
                <i class="fa-solid fa-gear"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-end">
        <div class="col d-flex align-items-start">
          <div class="example-box2" cdkDrag style="background-color: #387adf">
            <div class="Module-Content" style="font-size: 27px;" routerLink="/main/home/definition">
              <a>
                كارت الميزان
                <i class="fa-solid fa-file"></i>
              </a>
            </div>
            <div class="example-handle2" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
  
  
    </div>
  </div>