.ang-maturial-select{
    width: 100%;
}  

  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }

.example-button-row {
    display: table-cell;
    max-width: 1000px;
  }

  .mat-mdc-extended-fab {
    border-radius: 15px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
    height: 45px;
    line-height: normal;
    }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 50px;
  }
  
  .custom-icon{
    font-size: larger;
    margin-left: 3px;
    margin-right: 3px;
}




.mat-icon {
  font-size: 20px; /* حجم الرموز */
}

/* تحسين استايل mat-tree-node */
.mat-tree-node {
  color: #3f51b5;
  font-weight: bold;
  cursor: pointer;
}

/* تحسين استايل mat-tree */
.mat-tree {
  background-color: white;
}



.mat-mdc-table .mdc-data-table__row:hover{
  background-color: #dfdfdf; 
  cursor: pointer;

}


.table-header-font-size{
font-weight: bold;
}

td{
font-size: large;
}

.tree-container {
  max-height: 620px; 
  overflow-y: auto; 
  border: 1px solid #ccc; 
  position: relative; 
}

.tree-container::-webkit-scrollbar {
  width: 12px; 
}

.tree-container::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
}

.tree-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}




