<!-- <body dir="{{textDir}}">

  <app-nav></app-nav>
  <div>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer> -->
      <!-- <app-side-menu></app-side-menu> -->


  
<!-- 
  <mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button (click)="toggleCollapse()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width.px]="collapsed ? 65 : 250">
     <app-custom-sidenav></app-custom-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="content" [style.margin-left.px]="collapsed ? 65 : 250">
      hello
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> -->
<!-- </body> -->

<router-outlet></router-outlet>
