.bell-notification{
    font-weight: bold;
     border-bottom: 2px solid #4F86F7;
     color: #4F86F7;
     padding-bottom: 6px;
     font-size: 20px;
     text-align: end;
     padding-right: 10px;
 
}