<div class="container-fluid">

  <div style="margin-bottom: 50px;" *ngIf="(accountService.currentUser$ | async) as userInfo">
    <form [formGroup]="boxForm" (ngSubmit)="onSumbit()">
      <div class="example-button-row">
        <div class="example-flex-container">

          <button mat-fab extended color="primary" type="button" (click)="getLastRowData()" [disabled]="lastRow"
            style="flex-direction:column;">
            <span style="margin-right: 10px;margin-left: 10px;">الأخير</span>
            <mat-icon style="margin-right: 10px;margin-left: 10px;">
              <i class="fas fa-step-backward"></i>
            </mat-icon>
          </button>

          <button mat-fab extended color="primary" type="button" (click)="getNextRowData()"
            [disabled]="DisabledNextButton" style="flex-direction:column;">
            <span style="margin-right: 10px;margin-left: 10px;">التالى</span>
            <mat-icon style="margin-right: 10px;margin-left: 10px;">
              <i class="fas fa-caret-left"></i>
            </mat-icon>
          </button>

          <button mat-fab extended color="primary" type="button" (click)="getPrevRowData()"
            [disabled]="DisabledPrevButton" style="flex-direction:column;">
            <span style="margin-right: 10px;margin-left: 10px;">السابق</span>
            <mat-icon style="margin-right: 10px;margin-left: 10px;">
              <i class="fas fa-caret-right"></i>
            </mat-icon>
          </button>



          <button mat-fab extended color="primary" type="button" (click)="getFirstRowData()" [disabled]="firstRow"
            style="flex-direction:column;">
            <span style="margin-right: 10px;margin-left: 10px;">الأول</span>
            <mat-icon style="margin-right: 10px;margin-left: 10px;">
              <i class="fas fa-step-forward"></i>
            </mat-icon>
          </button>


          <button mat-fab extended color="primary" type="button" (click)="GetAllBoxBanks()" [disabled]="reloadDisabled"
            style="flex-direction: column;">
            <span style="margin-right: 10px;margin-left: 10px;">تهيئه</span>
            <mat-icon style="margin-right: 10px;margin-left: 10px;">
              <i class="fas fa-sync"></i>
            </mat-icon>
          </button>


          <button mat-fab extended color="primary" type="submit" [disabled]="boxForm.invalid || SaveDisable"
            style="flex-direction:column;">
            <span style="margin-right: 10px;margin-left: 10px;">حفظ</span>
            <mat-icon style="margin-right: 10px;margin-left: 10px;">
              <i class="fas fa-save"></i>
            </mat-icon>
          </button>

          <button mat-fab extended color="warn" type="button" (click)="Open_delete_confirm()"
            [disabled]="boxForm.invalid || DeleteDisable || !userInfo.canDelete_frmBox" style="flex-direction: column;">
            <span style="margin-right: 10px;margin-left: 10px;">حذف</span>
            <mat-icon style="margin-right: 10px;margin-left: 10px;">
              <i class="fas fa-trash-alt"></i>
            </mat-icon>
          </button>

          <button mat-fab extended color="primary" type="button" style="flex-direction: column;"
            [disabled]="!userInfo.canPrint_frmBox">
            <span style="margin-right: 10px;margin-left: 10px;">طباعه</span>
            <mat-icon style="margin-right: 10px;margin-left: 10px;font-size: 20px;">
              <i class="fas fa-print"></i>
            </mat-icon>
          </button>


          <button mat-fab extended color="primary" type="button" style="flex-direction: column;"
            [disabled]="!userInfo.canPreView_frmBox">
            <span style="margin-right: 10px;margin-left: 10px;">استعراض</span>
            <mat-icon style="margin-right: 10px;margin-left: 10px;font-size: 20px;">
              <i class="fas fa-eye"></i>
            </mat-icon>
          </button>




          <button mat-fab extended color="primary" type="button" (click)="undo()" [disabled]="UndoDisabled"
            style="flex-direction: column;">
            <span style="margin-right: 10px;margin-left: 10px;">تراجع</span>
            <mat-icon style="margin-right: 10px;margin-left: 10px;">
              <i class="fas fa-undo"></i>
            </mat-icon>
          </button>


          <button mat-fab extended color="primary" type="button" [disabled]="UpdateDisable || !userInfo.canEdit_frmBox"
            (click)="updateBoxBank()" style="flex-direction: column;">
            <span style="margin-right: 10px;margin-left: 10px;">تعديل</span>
            <mat-icon style="margin-right: 10px;margin-left: 10px;">
              <i class="fas fa-edit"></i>
            </mat-icon>
          </button>

          <button mat-fab extended color="primary" type="button" [disabled]="newDisable || !userInfo.canCreate_frmBox"
            (click)="New()" style="flex-direction:column;">
            <span style="margin-right: 10px;margin-left: 10px;">جديد</span>
            <mat-icon style="margin-right: 10px;margin-left: 10px;">
              <i class="fas fa-plus"></i>
            </mat-icon>
          </button>

        </div>
      </div>


      <mat-tab-group dir="rtl" style="background-color: white;font-family: system-ui;">
        <mat-tab>
          <ng-template mat-tab-label>
            <h1 style="margin-bottom: auto;">
              <i class="fa-solid fa-building-user custom-icon"></i>

              الصناديق
            </h1>
          </ng-template>


          <div class="row p-3">
            <mat-form-field appearance="outline" class="col-lg-3 col-md-6 col-sm-12 mdc-text-field--invalid">
              <mat-label>الكود</mat-label>
              <input matInput type="text" formControlName="boxCode" [readonly]="EditReadonly">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-lg-3 col-md-6 col-sm-12 mdc-text-field--invalid">
              <mat-label>الإسم بالعربى</mat-label>
              <input matInput type="text" formControlName="desca">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-lg-3 col-md-6 col-sm-12">
              <mat-label>الإسم بالانجليزى</mat-label>
              <input matInput type="text" formControlName="desce">
            </mat-form-field>

            <div class="col-lg-3 col-md-6 col-sm-12">
              <mat-form-field class="ang-maturial-select" appearance="outline">
                <mat-label>الحساب</mat-label>
                <mat-select formControlName="accountId">
                  <mat-option *ngFor="let account of allAccounts" [value]="account.accountId">
                    {{account.accountCode}} - {{account.accountNameA}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>

        </mat-tab>

      </mat-tab-group>
    </form>
  </div>

  <mat-card style="margin-bottom: 100px;">
    <mat-card-header class="justify-content-center">
      <mat-form-field style="width: 100%;" appearance="outline" dir="rtl">
        <mat-label style="text-align: right;padding: 3px;"> <i class="fas fa-search"></i> ابحث </mat-label>
        <input matInput [readonly]="readonlyTable" (keyup)="Filterchange($event)" />
      </mat-form-field>
    </mat-card-header> <mat-card-content>

      <table matSort mat-table [class.readonly-table]="readonlyTable" [dataSource]="dataSource" class="mat-elevation-z8"
        dir="rtl">

        <ng-container matColumnDef="boxCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>الكود</th>
          <td mat-cell *matCellDef="let element"> {{element.boxCode}} </td>
        </ng-container>

        <ng-container matColumnDef="desca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>الإسم بالعربى</th>
          <td mat-cell *matCellDef="let element"> {{element.desca}} </td>
        </ng-container>

        <ng-container matColumnDef="desce">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>الإسم بالانجليزى</th>
          <td mat-cell *matCellDef="let element"> {{element.desce}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="fillForm(row)"></tr>
      </table>

    </mat-card-content>
    <mat-card-footer>
      <mat-paginator [pageSizeOptions]="[50, 100, 200]" showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </mat-card-footer>
  </mat-card>



</div>