#mySidebarBasket {
  transition: width 0.1s ease-in-out;
  /* تأثير الانتقال للعرض بمدة 0.5 ثانية */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* تحديد الظل هنا (يمكنك تخصيص القيم حسب تفضيلاتك) */

}

.open-animation {
  transition: width 0.1s ease-in-out;
  /* يمكنك تكوين هنا أي تأثير إضافي عند الفتح */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* تحديد الظل هنا (يمكنك تخصيص القيم حسب تفضيلاتك) */

}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 17px;
  cursor: pointer;
  background-color: #43afaa;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #f8f9fa;
  color: #43afaa;
  border: 1px solid #43afaa;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#mySidenav a {
  margin-top: 137px;
  position: absolute;
  right: -171px;
  transition: 0.3s;
  padding: 5px;
  width: 200px;
  text-decoration: none;
  font-size: 12px;
  color: white;
  font-weight: bold;
  position: fixed;
  z-index: 10;

}

#mySidenav a:hover {
  right: 0;
  z-index: 10;
}


#blog {
  top: 80px;
  background-color: #325c80f2;
  margin-top: 10px;
}

.btn-close2 {
  margin: 2px;
  font-size: large;
  padding: 5px;
  border: 1px solid #dced01;

}



.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1030;
  top: 0;
  background-color:#325c80c4;
  direction: rtl;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar ul{
 background-color: #052940;
 padding: 0;
 margin: 0;

}

.dropdown{
  border-top: 1px solid rgb(175, 175, 175);
  border-bottom: 1px solid rgb(175, 175, 175);

}

.sidebar ul li{
  padding-right: 20px;
  padding-left: 20px;
 
 }

.sidebar ul :hover{
  background-color: white;
  color: #325c80;
 
 }

.btn-toggle {
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  display: block;
}

.btn-toggle:hover {
  margin-right: 2px;
  color: rgb(49 209 249);
}

.button-Content{
  display: flex;
  justify-content: space-between;
}

.dropdown-toggle{
  color: white;
  padding: 3%;
}

