
<mat-dialog-content class="mat-typography">
    <mat-card style="margin-bottom: 20px;">
        <mat-card-header class="justify-content-center">
            <mat-form-field style="width: 100%;" appearance="outline" dir="rtl">
                <mat-label style="text-align: right;padding: 3px;"> <i class="fas fa-search"></i> ابحث </mat-label>
                <input matInput (keyup)="Filterchange($event)" />
            </mat-form-field>
        </mat-card-header>
        <mat-card-content>
    
    
            <table   matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" dir="rtl"  >
    
    
                <ng-container matColumnDef="ItemCode">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="table-header-font-size">كود المنتج</th>
                    <td mat-cell *matCellDef="let element"> {{element.itemCode}} </td>
                </ng-container>
    
                <ng-container matColumnDef="ItemDescA">
                    <th mat-header-cell *matHeaderCellDef class="table-header-font-size">الإسم بالعربى</th>
                    <td mat-cell *matCellDef="let element"> {{element.itemDescA}} </td>
                </ng-container>
    
                <ng-container matColumnDef="ItemDescE">
                    <th mat-header-cell *matHeaderCellDef class="table-header-font-size">الإسم بالإنجليزى</th>
                    <td mat-cell *matCellDef="let element"> 
                        <ng-container *ngIf="element.itemDescE else noData">
                            {{element.itemDescE}} 
                        </ng-container>
                        <ng-template #noData>
                            لايوجد أسم بالإنجليزى 
                        </ng-template>
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="UnitNam">
                    <th mat-header-cell *matHeaderCellDef class="table-header-font-size">الوحده</th>
                    <td mat-cell *matCellDef="let element"> {{element.unitNam}} </td>
                </ng-container>
    
                <ng-container matColumnDef="ItemType">
                    <th mat-header-cell *matHeaderCellDef class="table-header-font-size">طبيعة الصنف</th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container *ngIf="element.itemType === 1">منتج تام</ng-container>
                        <ng-container *ngIf="element.itemType === 2">خامه</ng-container>
                        <ng-container *ngIf="element.itemType === 3">خدمه</ng-container>
                        <ng-container *ngIf="element.itemType === 4">صنف تصنيع</ng-container>
                        <ng-container *ngIf="element.itemType === 5">مركبه</ng-container>
                        <ng-container *ngIf="element.itemType === 6">منتج نصف مصنع</ng-container>
                        <ng-container *ngIf="element.itemType === 7">ثروه حيوانيه</ng-container>
                      </td>
                </ng-container>
                           
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="fillForm(row)"></tr>
            </table>
    
        </mat-card-content>
    
        <mat-card-footer>
    
            <mat-paginator [pageSizeOptions]="[20,50,100,200]" showFirstLastButtons></mat-paginator>
    
        </mat-card-footer>
    </mat-card>
    
</mat-dialog-content>


<div mat-dialog-actions>
    <a (click)="closepopup()" mat-raised-button color="warn">إغلاق</a>

</div>