  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }

.example-button-row {
    display: table-cell;
    max-width: 1000px;
  }

  .mat-mdc-extended-fab {
    border-radius: 15px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
    height: 45px;
    line-height: normal;
    }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 50px;
  }
  
  .table-header-font-size{
    font-weight: bold;
  }
  
  td{
    font-size: large;
  }
  
  .mat-mdc-table .mdc-data-table__row:hover{
    background-color: #dfdfdf; 
    cursor: pointer;

  }


  .readonly-table {
    pointer-events: none;
    opacity: 0.6; 
  }