

<footer class="footer text-end border-top shadow-sm mt-5" style="background-color: #052940;z-index: 1;margin-top: 50px;" *ngIf="currentCulture == 'ar'"  >
    <div>
        <img id="blog" class="p-2"  src="../../../assets/images/logo3.png" onclick="openNavBasket()" width="52" height="50" class="rounded-circle"/>
    </div>
 </footer>

 <footer class="footer  text-start border-top mt-5" style="background-color:#052940;z-index: 1;margin-top: 200px;" *ngIf="currentCulture == 'en'" >
  <div>
      <img id="blog"  src="../../../assets/images/logo3.png" onclick="openNavBasket()" width="52" height="50" class="rounded-circle"/>
  </div>
</footer>



 <ng-container *ngIf="currentCulture == 'ar'">
  <div id="mySidebarBasket" class="sidebar shadow-sm" style="right: 0;">
    
    <!-- <div style="display: flex;justify-content: end;background-color: #3c6486;" >
     <a href="javascript:void(0)"  class="btn-close2" style="color: #dced01;" onclick="closeNavBasket()" >
       X
     </a>

    </div> -->
    <div class="dropdown" style="border-top: none" routerLink="/main/home">
      <div style="display: flex; justify-content: space-between;cursor: pointer;" >
        <button class="btn btn-toggle align-items-center rounded collapsed" >
          <i class="fas fa-home"></i>
          الرئيسية
        </button>
 
        
 
 
      </div>
  
    </div>


   <div class="dropdown" style="border-top: none">
     <div style="display: flex; justify-content: space-between;cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#home-collapse">
       <button class="btn btn-toggle align-items-center rounded collapsed" 
       data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
         {{'who are we'|translate}}
       </button>

       <span style="padding: 3%;">
         <i class="dropdown-toggle"></i>
       </span>


     </div>
       <div class="collapse" id="home-collapse" >
           <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
               <li><a  class="rounded" routerLink="/main/home/Company-Branches">{{'Our branches'|translate}}</a></li>
               <li><a  class="rounded" routerLink="/main/home/Contact-Us">{{'To communicate'|translate}}</a></li>
           </ul>
       </div>
   </div>

   <div class="dropdown">
     <div style="display: flex; justify-content: space-between;cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#definition">
       <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#definition" aria-expanded="false">
         <i class="fa fa-eercast" aria-hidden="true"></i>
         {{'the definition'|translate}}
      </button>


      <span style="padding: 3%;">
       <i class="dropdown-toggle"></i>
     </span>
     
     </div>

   
   <div class="collapse" id="definition" >
       <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
           <li><a  class="rounded" routerLink="/main/definition/branchs">{{'Branches'|translate}}</a></li>
           <li><a  class="rounded" routerLink="/main/definition/items">{{'Categories'|translate}}</a></li>
           <li><a  class="rounded"  routerLink="/main/definition/item-categories" >{{'Item categories'|translate}}</a></li>
           <li><a  class="rounded"  routerLink="/main/definition/item-units" >{{'Classification units'|translate}}</a></li>
           <li><a  class="rounded"  routerLink="/main/definition/customer-categories" >{{'Customer categories'|translate}}</a></li>
           <li><a  class="rounded"  routerLink="/main/definition/customer-types" >{{'Customer types'|translate}}</a></li>
           <li><a  class="rounded"  routerLink="/main/definition/movement-book" >{{'Movement book'|translate}}</a></li>
           <li><a  class="rounded"  routerLink="/main/definition/customers" >{{'Customers'|translate}}</a></li>
           <li><a  class="rounded"  routerLink="/main/definition/suppliers-types" >{{'Types of suppliers'|translate}}</a></li>
           <li><a  class="rounded"  routerLink="/main/definition/suppliers" >{{'Suppliers'|translate}}</a></li>
           <li><a  class="rounded"  routerLink="/main/definition/employees" >{{'employees'|translate}}</a></li>
           <li><a  class="rounded"  routerLink="/main/definition/jobs" >{{'Jobs'|translate}}</a></li>
           <li><a  class="rounded"  routerLink="/main/definition/structure-administrative" >{{'The administrative structure'|translate}}</a></li>
           <li><a  class="rounded"  routerLink="/main/definition/cities" >{{'the cities'|translate}}</a></li>
           <li><a  class="rounded"  routerLink="/main/definition/Types-of-vehicles" >{{'Types of vehicles'|translate}}</a></li>
           <li><a  class="rounded"  routerLink="/main/definition/Vehicle-shapes" >{{'Vehicle shapes'|translate}}</a></li>
           <li><a  class="rounded"  routerLink="/main/definition/machines-equipment" >{{"Machinery and equipment"|translate}}</a></li>
           <li><a  class="rounded"  routerLink="/main/definition/boxes" >الصناديق</a></li>
       </ul>
   </div>
   </div>


   <div class="dropdown">
    <div style="display: flex; justify-content: space-between;cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#Stores">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Stores" aria-expanded="false">
        <i class="fa fa-eercast" aria-hidden="true"></i>
        المخازن
     </button>


     <span style="padding: 3%;">
      <i class="dropdown-toggle"></i>
    </span>
    
    </div>

  
  <div class="collapse" id="Stores" >
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <!-- <li><a  class="rounded">الفروع</a></li>
          <li><a  class="rounded">الإصناف</a></li>
          <li><a  class="rounded">فئات الإصناف</a></li>
          <li><a  class="rounded">خصائص الإصناف</a></li>
          <li><a  class="rounded">وحدات الإصناف</a></li>
          <li><a  class="rounded">طباعه الباركود</a></li> -->
          <li><a  class="rounded" routerLink="/main/stores/request-convert-store">طلب تحويل مخازن</a></li>
          <li><a  class="rounded" routerLink="/main/stores/converting-stores">تحويل مخازن</a></li>
          <li><a  class="rounded" routerLink="/main/stores/inventory-of-items">جرد الأصناف</a></li>
          <li><a  class="rounded" routerLink="/main/stores/supply-store"> توريد مخزنى</a></li>
          <li><a  class="rounded" routerLink="/main/stores/store-exchange"> صرف مخزنى</a></li>


          <!-- <li><a  class="rounded">أصناف ذات خصائص</a></li>
          <li><a  class="rounded">تسعير الأصناف</a></li>
          <li><a  class="rounded">تغيير أكواد الأصناف</a></li>
          <li><a  class="rounded">ضبط تكاليف و كميات</a></li>
          <li><a  class="rounded">كارت الميزان</a></li> -->
      </ul>
  </div>
  </div>

  <div class="dropdown">
    <div style="display: flex; justify-content: space-between;cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#purchases">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#purchases" aria-expanded="false">
        <i class="fa fa-eercast" aria-hidden="true"></i>
        مشتريات
     </button>


     <span style="padding: 3%;">
      <i class="dropdown-toggle"></i>
    </span>
    
    </div>

  
  <div class="collapse" id="purchases" >
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a  class="rounded" routerLink="/main/purchases/invoice">فاتورة المشتريات</a></li>
          <li><a  class="rounded" routerLink="/main/purchases/Purchase-commander">أمر شراء</a></li>
          <li><a  class="rounded" routerLink="/main/purchases/Purchase-order">طلب شراء</a></li>


          <!-- <li><a  class="rounded" routerLink="/main/purchases/">توريد مخزنى</a></li>
          <li><a  class="rounded" routerLink="/main/purchases/">فئات الإصناف</a></li>
          <li><a  class="rounded" routerLink="/main/purchases/">فئات الموردين</a></li>
          <li><a  class="rounded" routerLink="/main/purchases/">أنواع الموردين</a></li>
          <li><a  class="rounded" routerLink="/main/purchases/">الموردين</a></li>
          <li><a  class="rounded" routerLink="/main/purchases/">مرتجعات مشتريات</a></li>
          <li><a  class="rounded" routerLink="/main/purchases/">كارت الميزان</a></li> -->
      </ul>
  </div>
  </div>

  <div class="dropdown">
    <div style="display: flex; justify-content: space-between;cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#sales">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#sales" aria-expanded="false">
        <i class="fa fa-eercast" aria-hidden="true"></i>
        مبيعات
     </button>


     <span style="padding: 3%;">
      <i class="dropdown-toggle"></i>
    </span>
    
    </div>

  
  <div class="collapse" id="sales" >
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li><a  class="rounded"  routerLink="/main/sales/sales-order">أمر بيع</a></li>
        <!-- <li><a  class="rounded"  routerLink="/main/sales/Purchase-order"> طلب عرض سعر</a></li> -->
        <li><a  class="rounded"  routerLink="/main/sales/sales-offer">عرض سعر</a></li>
<!-- 
          <li><a  class="rounded"  routerLink="/main/sales/">فاتورة المبيعات</a></li>
          <li><a  class="rounded"  routerLink="/main/sales/">فئات الإصناف</a></li>
          <li><a  class="rounded"  routerLink="/main/sales/">تسليم فاتورة مبيعات</a></li>
          <li><a  class="rounded"  routerLink="/main/sales/">أنواع العملاء</a></li>
          <li><a  class="rounded"  routerLink="/main/sales/">العملاء</a></li>
          <li><a  class="rounded"  routerLink="/main/sales/">فئات العملاء</a></li>
          <li><a  class="rounded"  routerLink="/main/sales/">مرتجعات مبيعات</a></li>
          <li><a  class="rounded"  routerLink="/main/sales/">كارت الميزان</a></li>
          <li><a  class="rounded"  routerLink="/main/sales/">استعلام صنف</a></li> -->

      </ul>
  </div>
  </div>


  
  <div class="dropdown">
    <div style="display: flex; justify-content: space-between;cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#accounts">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#accounts" aria-expanded="false">
        <i class="fa fa-eercast" aria-hidden="true"></i>
        الحسابات
     </button>


     <span style="padding: 3%;">
      <i class="dropdown-toggle"></i>
    </span>
    
    </div>

  
  <div class="collapse" id="accounts" >
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a  class="rounded" routerLink="/main/accountsModule/accounts-guide">دليل الحسابات</a></li>
          <li><a  class="rounded" routerLink="/main/accountsModule/CalCostCenter">مركز التكلفة</a></li>
          <li><a  class="rounded" routerLink="/main/accountsModule/SysAnalyticalCode">أكواد تحليلية</a></li>
          <li><a  class="rounded" routerLink="/main/accountsModule/activities">أنشطة</a></li>
          <li><a  class="rounded" routerLink="/main/accountsModule/settlements">تسويات</a></li>
          <li><a  class="rounded" routerLink="/main/accountsModule/currencies">العملات</a></li>
          <li><a  class="rounded" routerLink="/main/accountsModule/journal-entry">مستند قيد يومية</a></li>
          <li><a  class="rounded" routerLink="/main/accountsModule/receipt-voucher">مستند قبض</a></li>
          <li><a  class="rounded" routerLink="/main/accountsModule/exchange-voucher">مستند صرف</a></li>
          <li><a  class="rounded" routerLink="/main/accountsModule/Financial-Year">الفترات الماليه</a></li>


          <!-- <li><a  class="rounded">تصنيف الحسابات</a></li>
          <li><a  class="rounded">تبويب الحسابات</a></li>
          <li><a  class="rounded">فئات العملات</a></li>
          <li><a  class="rounded">تصفيه عهده</a></li>
          <li><a  class="rounded">مستند قيد يومية</a></li>
          <li><a  class="rounded">نوع المستند</a></li>
          <li><a  class="rounded">ضرائب</a></li>
          <li><a  class="rounded">المصروفات</a></li> -->
          
      </ul>
  </div>
  </div>

  <div class="dropdown">
    <div style="display: flex; justify-content: space-between;cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#Bank">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Bank" aria-expanded="false">
        <i class="fa fa-eercast" aria-hidden="true"></i>
        البنوك
     </button>


     <span style="padding: 3%;">
      <i class="dropdown-toggle"></i>
    </span>
    
    </div>

  
  <div class="collapse" id="Bank" >
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
       
          <li><a  class="rounded"  routerLink="/main/banks/banks">البنوك</a></li>
          <li><a  class="rounded"  routerLink="/main/banks/Letter-OfGuarantee-Types">أنواع خطابات الضمان</a></li>
          <li><a  class="rounded"  routerLink="/main/banks/Letter-Of-Guarantee-Category">فئات خطاب الضمان</a></li>
          <li><a  class="rounded"  routerLink="/main/banks/Letter-Of-Guarantee-Status">حالات خطابات الضمان</a></li>
          <li><a  class="rounded" >البنوك و الحسابات البنكية</a></li>
          <li><a  class="rounded" >الحافظة البنكية</a></li>
          <li><a  class="rounded" >أشعار بنكى</a></li>
          <li><a  class="rounded" >خطابات الضمان</a></li>
          <li><a  class="rounded" >حركة خطاب الضمان</a></li>
      </ul>
  </div>
  </div>

  <div class="dropdown">
    <div style="display: flex; justify-content: space-between;cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#setting">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#setting" aria-expanded="false">
        <i class="fa fa-eercast" aria-hidden="true"></i>
        أدوات البرنامج
     </button>


     <span style="padding: 3%;">
      <i class="dropdown-toggle"></i>
    </span>
    
    </div>

  
  <div class="collapse" id="setting" >
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a  class="rounded">نظام الأرشيف</a></li>
          <li><a  class="rounded">تصدير بيانات</a></li>
          <li><a  class="rounded">أستيراد البيانات</a></li>
          <li><a  class="rounded">أدوار المستخدمين</a></li>
          <li><a  class="rounded" routerLink="/main/system-tools/users" >المستخدمين</a></li>
          <li><a  class="rounded">صلاحيات المستخدمين</a></li>
          <li><a  class="rounded">أساسيات البرنامج</a></li>
          <li><a  class="rounded">مصمم التقارير</a></li>
      </ul>
  </div>
  </div>


</div>
</ng-container>

<ng-container *ngIf="currentCulture == 'en'">
  <div id="mySidebarBasket" class="sidebar shadow-sm" style="direction: ltr;left: 0;">
    
    <!-- <div style="display: flex;justify-content: end;background-color: #3c6486;" >
     <a href="javascript:void(0)"  class="btn-close2" style="color: #dced01;" onclick="closeNavBasket()" >
       X
     </a>

    </div> -->

    
   <div class="dropdown">
     <div style="display: flex; justify-content: space-between;cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#home-collapse">
       <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
         {{'who are we'|translate}}
       </button>

       <span style="padding: 3%;">
         <i class="dropdown-toggle"></i>
       </span>


     </div>
       <div class="collapse" id="home-collapse" >
           <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
               <li><a  class="rounded" routerLink="/main/Company-Branches">{{'Our branches'|translate}}</a></li>
               <li><a  class="rounded">{{'To communicate'|translate}}</a></li>
           </ul>
       </div>
   </div>

   <div class="dropdown">
     <div style="display: flex; justify-content: space-between;cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#definition">
       <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#definition" aria-expanded="false">
         <i class="fa fa-eercast" aria-hidden="true"></i>
         {{'the definition'|translate}}
      </button>


      <span style="padding: 3%;">
       <i class="dropdown-toggle"></i>
     </span>
     
     </div>

   
   <div class="collapse" id="definition" >
       <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
           <li><a  class="rounded">{{'Branches'|translate}}</a></li>
           <li><a  class="rounded">{{'Categories'|translate}}</a></li>
           <li><a  class="rounded">{{'Item categories'|translate}}</a></li>
           <li><a  class="rounded">{{'Classification units'|translate}}</a></li>
           <li><a  class="rounded">{{'Customer categories'|translate}}</a></li>
           <li><a  class="rounded">{{'Customer types'|translate}}</a></li>
           <li><a  class="rounded">{{'Movement book'|translate}}</a></li>
           <li><a  class="rounded">{{'Customers'|translate}}</a></li>
           <li><a  class="rounded">{{'Types of suppliers'|translate}}</a></li>
           <li><a  class="rounded">{{'Suppliers'|translate}}</a></li>
           <li><a  class="rounded">{{'employees'|translate}}</a></li>
           <li><a  class="rounded">{{'Jobs'|translate}}</a></li>
           <li><a  class="rounded">{{'The administrative structure'|translate}}</a></li>
           <li><a  class="rounded">{{'the cities'|translate}}</a></li>
           <li><a  class="rounded">{{'Types of vehicles'|translate}}</a></li>
           <li><a  class="rounded">{{'Vehicle shapes'|translate}}</a></li>
           <li><a  class="rounded">{{"Machinery and equipment"|translate}}</a></li>
       </ul>
   </div>
   </div>

   

 
</div>
</ng-container>
